{% extends 'base.html.twig' %}

{% block title %}CookTime{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <h1 class="center title">{% trans %}The recipes{% endtrans %}</h1>

        <a href="">

        </a>
    </main>

{% endblock %}
